# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/

# Environment variables
.env
.env.local
.env.production

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store
*.swp
*.swo
*~

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Misc
.cache/
.temp/
.tmp/
